@media (min-width: 768px) {
.container {
    width:100%;
    height:829px;
    
    .text_container{
        width: 686px;
        height: 202px;
        display: flex;
        flex-direction: rows;
        margin: 0 auto;

        .text_container_title{
            width: 100%;
            height: 106px;
            display: flex;
            gap: 32px;
            flex-direction: column;
            align-items: center; 

            .container_title{
                width: 100%;
                height: 102px;

                    h1{
                        font-size: 48px;
                    }
                    .tablet-break_one {
                        display: block;
                    }
                    .tablet-break_two {
                        display: none;
                    }
            }
            .description{
                width:100%;
                height:72px;
                margin: 0 auto;
                align-items: center;

                p{
                    text-align: center;
                    font-size: 18px;
                    font-weight: regular;
                }
               
            }
         }

    }
}

.bmi-form{
    width: 686px;
    height: 613px;

    .bmi-form__units{
        display: flex;
        width: 100%;
        gap:50px;

        .radio{
            flex: 1;
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 1.1rem;
            font-weight: bold;
        }
        .radio:last-child {
            justify-content: flex-start;
        }

    }
    
    .field_metric{
        width: 622px;
        height: 106px;
        display: flex;
        flex-direction: row;
        gap: 30px;

        .field_input{
            width:299px;
            height:106px;
        }
    }

    .field_imperial{
        width: 622px;
        height: 212px;
        display:none;
        flex-direction: column;

        .field_input{
            width: 100%;
            height: 106px;
            display: flex;
            gap: 16px;
            flex-direction: column;

            .inputs{
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: rows;
                justify-content: space-between;

                input{
                    width: 100%;
                }
            }
        }
    }

    .result{
        width: 622px;
        height: 130px;
        margin-top:20px;
        border-radius: 0px 70px 70px 0px;

    }
}

.BMI_result{
    width:768px;
    height: 411.09px;

    .container_result{
        width: 98%;
        height: 100%;
        display: grid;
        gap: 24px;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-content: center;

        .results_container{
         width: 370px;
         height: 342px;   

           img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            }
        }

        .card_text{
            width: 331px;
            height: 342px;
            gap: 32px;
        }
    }
}
   
.tip{
    width: 768px;
    height: 503px;
    margin-top: 30px;

    .tips_container{
        width: 686px;
        height: 383;
        margin: 0 auto;
        padding: 39px 50px;
        
        .tips{
            width: 100%;
            height: 101px;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            gap: 40px;
            align-items: center;
        }
    }
}

.limitations{
   width: 686px;
   height: 843px; 

    .limitations_container{
        width: 98.2%;
        height: 100%;

        .limitations_title{
            width: 100%;
            height: 139px;
        }

        .limitations_description{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            margin: 0;
        }
        .descriptions:last-child{
            grid-column: 1/3;
            justify-self: center;
        }
        .image{
                display: none;
        }
    }

}

}


// DESKTOP
@media (min-width: 1024px) {
.header{
    width: 1440px;
    height: 737px;

    .container{
        width: 1160px;
        height:710px;
        margin: 0 auto;
        align-items: flex-start;
        gap: 24px;
        margin-top: 40px;

        .icon_container{
            width: 64px;
            height: 64px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            justify-content: flex-start;
            margin: 0;
            margin-left: 50px;
            padding: 0;
        }

        .container_form{
            width: 1160px;
            height: 622px;
            display: grid;
            grid-template-columns:1fr 1fr;
            margin: 0 auto;

            .text_container_title{
                display: flex;
                width: 564px;
                height: 340px;
                padding-top: 72px;
                align-items: flex-start;

                .container_title{
                    width:100%;
                    height:140px;

                    h1{
                        text-align: left;
                    }
                }    
                
                .description{
                    width: 465px;
                    height: 96px;
                    margin: 0;

                    p{
                        text-align: left;
                    }
                }

            }
        }

        .bmi-form{
            width: 564px;
            height: 622px;

            .field_metric{
                width: 500px;
                height: 236px;
                display: flex;
                flex-direction: row;

                .field_input{
                    width:238px;
                    height:90px;
                }
            }

            .field_imperial{
                width: 500px;
                height: 236px;
                display: none;

                .field_input{
                    width: 100%;
                    height: 106px;
                    display: flex;
                    gap: 16px;
                    flex-direction: column;
                }    
                .inputs{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    flex-direction: row;
                    justify-content: space-between;
                }
                input{
                    width: 100%;
                }
            }

            .result{
                width: 500px;
                height: 166px;
                margin-bottom: 120px;
            }
        }
    }
}


.BMI_result{
    width: 100%;
    height: 671px;
    
    .container_result{
        width: 1160px;
        height: 585px;
        display: flex;
        margin: 0 auto;


        .results_container{
            width: 564px;
            height: 533px;   

           img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }

        .card_text{
            width: 465px;
            height: 306px;
            gap: 32px;
            justify-content: flex-end;
            align-items: flex-end;
            
            h2{
             font-size: 48px;
            }

        }

    }
    


}

.tip{
    width: 1440px;
    height: 422px;
    margin: 0 auto;


    .tips_container{
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        width: 1159px;
        height: 237px;
        margin: 0 auto;
        gap: 32px;
  
        .tips{
            width: 365px;
            height: 237px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .img{
                width: 64px;
                height: 64px;
                display: flex;
                align-items: flex-start;
                justify-content:flex-start;
            }

            .tips_text{
                p{
                    font-size: 16px;
                }
            }
        }
    }

}

.limitations{
    width: 1440px;
    height: 734px;

    .limitations_container{
        width: 1160px;
        height: 704px;

        .limitations_title{
            width: 564px;
            height: 181px;
            display: flex;
            align-items: flex-start;
            justify-content:flex-start;

            p{
                text-align: left;
            }
        }

        .limitations_description{
            position: relative;
            height: 604px;

            .descriptions {
                position:absolute;
                width: 365px;
                min-height: 232px;
                gap: 16px;
                padding: 32px;
                background: #fff;
                border-radius: 12px;

                p{
                    font-size: 16px;
                }
            }
            .gender {
                top: -180px;
                left:670px;
            }
            .image{
                display: block;
                left:100px;
                top: 135px;
            }

            .age {
                top: 135px;
                left: 450px;
            }

            .muscle {
                top: 135px;
                right: 0;
            }

            .pregnancy {
                top: 340px;
                left: 300px;
            }

            .race {
                top: 338px;
                right:140px;
            }

        }

    }


}


}
