.bmi-form {
    display: flex;
    margin: 0 auto;
    flex-direction: column;
    width: 328px;
    gap: 24px;
    padding: 24px;

    .bmi-form__title {
        font-size: 1.5rem;
        font-weight: 600;   
        text-align: left; 
    }
    .bmi-form__units{
        display: flex;
        width: 100%;
        justify-content:space-between;

        .radio{
            flex: 1;
            display: flex;
            gap: 15px;
            align-items: center;
            width:48%;
            font-size: 1.1rem;
            font-weight: bold;
        }
        .radio:last-child {
            justify-content: flex-end;
        }
    }

    .field_metric{
        width: 280px;
        height: 228px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        display: none;

        .field_input{
            width:100%;
            height: 106;
            display: flex;
            flex-direction: column;
            gap: 8px;

            input{
                width: 100%;
                height: 77px;
                padding: 24px 24px;
                border-radius: 12px;
                box-sizing: border-box; 
            }
            input[type="number"]::-webkit-inner-spin-button,
            input[type="number"]::-webkit-outer-spin-button {
            -webkit-appearance: none;
            margin: 0;
            }

            /* Firefox */
            input[type="number"] {
            -moz-appearance: textfield;
            appearance: textfield;
            }

           input::placeholder {
            color:blue;
            font-size: 18px;
            font-weight: bold;
            opacity: 1;
            text-align: right;
            }

        }
    }

    .field_imperial{
        width: 280px;
        height: 228px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        display: block;

        .field_input{
            width:100%;
            height: 228;
            display: flex;
            flex-direction: column;
            gap: 16px;
    

            label{
                width: 44px;
                height: 21px;
            }

            .inputs{
                width: 100%;
                height: 77px;
                display: flex;
                flex-direction: row;
                gap: 16px;

                input{
                width: 132px;
                height: 77px;
                gap: 24px;
                padding: 24px 24px;
                /*padding: 0 20px;
                padding: 0 60px 0 20px;*/
                border-radius: 12px;
                box-sizing: border-box; 
                }
                input[type="number"]::-webkit-inner-spin-button,
                input[type="number"]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
                }

                /* Firefox */
                input[type="number"] 
                {
                -moz-appearance: textfield;
                appearance: textfield;
                }

                input::placeholder {
                    color:blue;
                    font-size: 18px;
                    font-weight: bold;
                    opacity: 1;
                    text-align: right;
                }

            }
        }
    }


    .result{
        width: 280px;
        height: 230px;
        display: flex;
        gap: 24px;
        padding: 32px;
        background-color:#345FF6;
        border-radius: 10px;

        .result_noactiv{
            width: 100%;
            height: 100%;
            display: flex;
            flex-direction: column;
            gap: 24px;
            
            h3{
                color: #ffffff;
                font-size: 24px;
            }
            p{
                color: #ffffff;
            }
        }

        .result__label {
            font-size: 15px;
            display: none;
            margin-top:0px;
        }

        .result__label.show {
            display: block;
        }


        #bmiValue {
            display: block;
            font-size: 35px;
            font-weight: bold;
            margin-top: 10px;
        }
        
    }

}

